{% extends "base.html" %}


{% block title %} Sign Up {% endblock %}

{% block content %}
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>

                        <form action="{{ url_for('sign_up') }}" method="POST" class="register-form" id="register-form">

                            {% with message = get_flashed_messages() %}
                              {% if message %}
                                <p class="flashes">{{ message[0] }}</p>
                                <br>
                              {% endif %}
                            {% endwith %}

                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" required/>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" required/>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" required/>
                            </div>
                            <div class="form-group">
                                <label for="birthday">Birthday:</label>
                                <input type="date" id="birthday" name="birthday">

                            </div>

                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img style="margin: 3.5rem 0 0 0;" src="{{ url_for('static', filename='images/Logo.jpg') }}" alt="sing up image"></figure>
                        <a href="{{ url_for('sign_in') }}" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
