{% extends "base.html" %}

{% block title %} Welcome {% endblock %}
{% block content %}
<section class="title-page">
  <div class="row">
      <div class="col-lg-6 centralize">
        <h1>Lorem Ipsum Dolor<br>Sit Amet</h1>
        <p>A small description of the event like when what it is</p>
        <br>
        <button class="btn btn-primary">Sign Up!</button>
      </div>

    <div class="col-lg-6">
      <video class="video" width="320" height="240" controls>
        <source src="{{ url_for('static', filename='videos/trailer.mp4') }}" type="video/mp4">
      </video>
    </div>
  </div>
  <hr>
</section>
<section class="event-cards">
  <div class="row event-cards">
    <div class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/signup-image.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/signup-image.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ url_for('static', filename='images/signup-image.jpg') }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <br>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <br>
  <img class="sponsor" src="{{ url_for('static', filename='images/sponsor-logo.jpeg') }}">
</section>

<footer class="welcome-page-footer">
  <p>&copy; 2021 E-Domain</p>
</footer>
{% endblock %}